html{
    min-height:100vh;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
	background-color: #f9f9f9;
	height:750px;
}

.container-fluid {
	max-width: 90%;
}

#map {
	min-height: 400px;
	width: 100px;
}


/* #recommender-panel {
	background:lightblue;
}

#ML-panel{
	background:lightgreen;
}

#map-panel{
	background:yellow;
}

#sentiment-panel{
	background: white;
}

.row{
	min-height: 100%;
	height:100%;
}

#top-row{
	min-height: 50%;
	height:50%;
}
*/
/*
html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

#word-cloud-panel {
    height: 100%;
    width: 100%;
} */