body {
	background-color: #f9f9f9;
}

.container-fluid {
	max-width: 90%;
}

/* #recommender-panel {
	background:lightblue;
}

#ML-panel{
	background:lightgreen;
}

#map-panel{
	background:yellow;
}

#sentiment-panel{
	background: magenta;
}

.row{
	min-height: 100%;
	height:100%;
}

#top-row{
	min-height: 50%;
	height:50%;
}

#bottom-row{
	min-height: 50%;
	height:50%;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

#word-cloud-panel {
    height: 100%;
    width: 100%;
} */