<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name='description' content="">
    <title>Yelp Data Visualized</title>
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link rel='stylesheet' href="{{ url_for('static',
      filename='custom/css/style.css')}}">
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <a class="navbar-brand mx-auto" href="#">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Yelp_Logo.svg"
          width="80" height="30" class="d-inline-block align-top" alt="">
      </a>
    </nav>

    <div class="container-fluid fill">

      <!-- Toprow -->
      <div class="row p-2" id="top-row">
        <div class="col-8 shadow bg-white rounded" id="map">
          <!-- kevin code goes here -->
        </div>
        
        <div class="col-4" id="recommender-panel">
          <!-- Nishant code goes here -->
          recommender panel
        </div>
      </div>

      <!-- Bottomrow -->
      <div class="row p-2" id="bottom-row">

        <div class="col-4">
          <!-- Ashish code goes here code goes here -->
          <div class="shadow bg-white rounded" id="word-cloud-panel"></div>
        </div>

        <div class="col-4">
          <div class="shadow bg-white rounded" id="heat-map-panel"></div>
        </div>

        <div class="col-4">
          <div class="shadow bg-white rounded" id="sentiment-panel"></div>
          <!-- Siddharth code goes here -->
        </div>

      </div>

    </div>

    <!-- assets -->
    <script src="{{ url_for('static', filename='assets/js/d3.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <!--Additional imports for heatmap-->
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <!-- custom -->
    <script src="{{ url_for('static', filename='custom/js/main.js')}}"></script>
    <script src="{{ url_for('static',
      filename='custom/js/word_cloud.js')}}"></script>
    <script src="{{ url_for('static',
      filename='custom/js/map.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE4vKarlwoAckgkR2zUMJGP-zxJFo_EtM&callback=initMap"
    async defer></script>
	  <script src="{{ url_for('static',
      filename='custom/js/sentiment_panel.js')}}"></script>
    <script src="{{ url_for('static',
      filename='custom/js/checkin_heatmap.js')}}"></script>
  </body>
</html>